.App {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: lightpink;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: hotpink;
}

.Puppies:hover {
  filter: drop-shadow(0 0 2em red);
}
.Puppies.react:hover {
  filter: drop-shadow(0 0 2em red);
}


.Puppies {
  padding: 2;
  margin: 3;
  box-sizing: border-box;
}
